.boxChat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 90px;
    border-bottom: 1px solid #fafafa;
    font-size: 12.5px;
}
.boxChat__details{
    flex: 1;
    padding-right: 10px;
    margin-left: 10px;
}
.boxChat__details > p{
    color: gray;
}
.boxChat__timestamp{
    color: lightgray;
}
.chat__image{
    margin-right: px;
}